body {
  width: 100%;
  padding: 40px 28px0px;
  background-color: #888;
  font-family: "Arial", "sans-serif ";
  margin: 0 auto;
}

h1 {
  color: #fff;
  font-size: 32px;
  padding: 20px;
}

h2 {
  color: #20b2e8;
  font-size: 60px;
}

p {
  color: #fff;
  padding: 10px;
  font-size: 24px;
}

li {
  width: 200px;
  font-size: 28px;
  padding: 0 44%;
  color: #fff;
}

ul {
  display: block;
  list-style-type: none;
}

.Button {
  display: flex;
  flex-direction: column;
  width: 180px;
  margin: 40px 60px;
  gap: 22px;
}

label {
  color: white;
}
